.advantages__headline {
  @include c280;
  margin-top: 0;
  margin-bottom: 32px;
  font-size: 24px;
  font-weight: 300;
  line-height: 1.2;

  @media #{$tablet-min} {
    width: 588px;
    margin-bottom: 0;
    font-size: 40px;
    line-height: 1.35;
  }

  @media #{$desktop-min} {
    width: 780px;
    font-size: 50px;
    line-height: 68px;
  }

  &:last-child {
    @media #{$tablet-min} {
      width: 400px;
    }

    @media #{$desktop-min} {
      width: 450px;
    }
  }
}

.advantages__intro {
  padding-top: 40px;

  @media #{$tablet-min} {
    padding-top: 45px;
    padding-bottom: 25px;
  }

  @media #{$desktop-min} {
    padding-top: 60px;
    padding-bottom: 43px;
  }
}

.advantages__list {
  position: relative;
  padding-top: 83px;
  background-color: $grey-95;
  background-image: url("../img/bg-triangle-white.svg");
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: 125% auto;

  @media #{$tablet-min} and #{$tablet-max} {
    padding-bottom: 42px;
  }

  @media #{$desktop-min} {
    padding-top: 77px;
  }
}

.advantages__list::before {
  @media #{$tablet-min} and #{$tablet-max} {
    position: absolute;
    bottom: 0;
    left: 22px;
    width: 268px;
    height: 480px;
    background-image: url("../img/iphone-screen-3-tablet@1x.png");
    background-repeat: no-repeat;
    background-size: 268px 480px;
    content: "";
    text-align: left;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/iphone-screen-3-tablet@2x.png");
    }
  }
}

.advantages__list-wrapper {
  @media #{$mobile-max} {
    @include c280;
    padding-bottom: 320px;
    background-image: url("../img/iphone-screen-mobile@1x.png");
    background-position: center bottom -50px;
    background-repeat: no-repeat;
    background-size: 157px 330px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/iphone-screen-mobile@2x.png");
    }
  }

  @media #{$tablet-min} and #{$tablet-max} {
    @include c620;
  }

  @media #{$tablet-min} {
    display: flex;
    flex-direction: column;
    padding-left: 310px;
  }

  @media #{$desktop-min} {
    @include c;
    width: 890px;
    display: grid;
    grid-template: 1fr / repeat(3, 1fr);
    justify-items: center;
    grid-column-gap: 70px;
    grid-row-gap: 30px;
    margin-top: -62px;
    padding-left: 0;
  }
}

.advantages__item {
  margin-bottom: 34px;

  @media #{$tablet-min} {
    margin-bottom: 38px;
    text-align: left;
  }

  @media #{$desktop-min} {
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 360px;
    margin-bottom: 30px;
    background-position: left -25px top;
    background-repeat: no-repeat;
    background-size: 300px 300px;
    text-align: center;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &--mood {
    @media #{$desktop-min} {
      background-image: url("../img/iphone-screen-1-desktop@1x.png");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/iphone-screen-1-desktop@2x.png");
      }
    }
  }

  &--changes {
    @media #{$desktop-min} {
      background-image: url("../img/iphone-screen-2-desktop@1x.png");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/iphone-screen-2-desktop@2x.png");
      }
    }
  }

  &--friends {
    @media #{$desktop-min} {
      background-image: url("../img/iphone-screen-3-desktop@1x.png");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/iphone-screen-3-desktop@2x.png");
      }
    }
  }
}

.advantages__title {
  margin: 0 0 13px 0;
  color: $basic-black;
  font-size: 18px;
  line-height: 1.33;
  font-weight: bold;

  @media #{$desktop-min} {
    width: 240px;
    margin-bottom: 20px;
    font-size: 30px;
    line-height: 1;
  }

  .advantages__effect & {
    width: 295px;
    margin: 0;
    font-size: 30px;
    line-height: 1.2;

    @media #{$desktop-min} {
      width: auto;
      line-height: 1;
    }
  }
}

.advantages__description {
  margin: 0;

  @media #{$tablet-min} and #{$tablet-max} {
    width: 310px;
  }

  @media #{$desktop-min} {
    width: 249px;
    font-size: 18px;
    line-height: 1.67;
  }

  .advantages__effect & {
    margin-top: 11px;

    @media #{$desktop-min} {
      width: 535px;
      margin-top: 29px;
    }
  }

  &--reference {
    color: $basic-pink;
    text-decoration: underline;
  }
}

.advantages__effect {
  @media #{$mobile-max} {
    display: none;
  }

  @media #{$desktop-min} {
    background-color: $grey-95;
  }
}

.advantages__effect-wrapper {
  @include c620;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  align-items: flex-start;
  padding: 95px 0 60px 310px;
  background-image: url("../img/clock.svg");
  background-position: left top 60%;
  background-repeat: no-repeat;
  text-align: left;

  @media #{$desktop-min} {
    @include c940;
    align-items: flex-start;
    padding-top: 130px;
    padding-bottom: 110px;
    padding-left: 370px;
    background-position: left bottom 65px;
    background-size: 300px 345px;
  }
}
