.button-round {
  display: block;
  box-sizing: border-box;
  padding-top: 15px;
  padding-bottom: 15px;
  border: 3px solid;
  border-radius: 30px;
  font-size: 18px;
  font-weight: bold;
  line-height: 1;
  text-decoration: none;
  word-wrap: break-word;
}
