.button-square {
  cursor: pointer;
  outline: none;
  display: block;
  box-sizing: border-box;
  padding-top: 22px;
  padding-bottom: 22px;
  border: none;
  border-radius: 3px;
  background-color: $basic-green;
  color: $basic-white;
  font-size: 18px;
  font-weight: bold;
  line-height: 1;
  text-decoration: none;
  text-transform: uppercase;
  word-wrap: break-word;

  &:hover {
    background-color: $basic-green-hover;
  }

  &:active {
    background-color: $basic-green-hover;
    color: transparentize($basic-white, 0.7);
  }

  &:disabled {
    background-color: $grey-95;
  }
}
