.competition {
  background-color: $basic-white;
}

.competition__intro-wrapper {
  @include c280;

  @media #{$tablet-min} {
    width: 490px;
  }

  @media #{$desktop-min} {
    width: 756px;
  }
}

.competition__intro {
  margin: 0;
  line-height: 2.14;

  @media #{$tablet-min} {
    font-size: 18px;
    line-height: 1.67;
  }

  &:nth-child(2) {
    @media #{$mobile-max} {
      display: none;
    }
  }

  @media #{$desktop-min} {
    display: inline;
  }
}

.competition__form {
  @media #{$tablet-min} {
    @include c620;
    padding-top: 73px;
  }

  @media #{$desktop-min} {
    @include c940;
    padding-top: 80px;
  }
}
