.copyright__link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 5px;
  color: inherit;
}

.copyright__text {
  margin-right: 8px;
  line-height: 1.29;

  @media #{$desktop-min} {
    font-size: 18px;
    line-height: 1;
  }
}

.copyright__icon {
  fill: $basic-pink;

  &:hover {
    fill: $basic-color;
  }

  &:active {
    fill: transparentize($basic-color, 0.7);
  }
}
