.download {
  @media #{$tablet-min} {
    background-image: url("../img/iphone-hand-tablet@1x.png"),
      url("../img/bg-back-tablet@1x.jpg");
    background-position: center bottom, center top;
    background-size: 700px 545px, 1200px 730px;
    background-repeat: no-repeat, no-repeat;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/iphone-hand-tablet@2x.png"),
        url("../img/bg-back-tablet@2x.jpg");
    }
  }

  @media #{$desktop-min} {
    background-image: url("../img/iphone-hand-desktop@1x.png"),
      url("../img/bg-back-desktop@1x.jpg");
    background-size: 1050px 645px, 2560px 853px;
    background-position: calc(50% + 70px) bottom, center top;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/iphone-hand-desktop@2x.png"),
        url("../img/bg-back-desktop@2x.jpg");
    }
  }
}

.download__wrapper {

  @media #{$tablet-min} {
    @include c620();
  }

  @media #{$desktop-min} {
    @include c940();
  }
}

.download__header {
  padding-top: 90px;
  min-height: 462px;
  background-color: $basic-color;
  background-image: url("../img/iphone-hand-mobile@1x.png"),
    url("../img/bg-back-mobile@1x.jpg");
  background-position: calc(50% - 30px) bottom, center top;
  background-repeat: no-repeat, no-repeat;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/iphone-hand-mobile@2x.png"),
      url("../img/bg-back-mobile@2x.jpg");
    background-size: 255px 285px, 320px 462px;
  }

  @media #{$tablet-min} {
    padding-top: 0;
    min-height: unset;
    background-image: none;
    background-color: transparent;
  }
}

.download__headline {
  margin: 0;
  color: $basic-white;
  font-size: 24px;
  font-weight: 300;
  line-height: 1.2;

  @media #{$mobile-max} {
    @include c280;
  }

  @media #{$tablet-min} {
    width: 245px;
    margin-bottom: 30px;
    margin-left: 28px;
    font-size: 40px;
    line-height: 1.2;
  }

  @media #{$desktop-min} {
    margin-bottom: 37px;
    font-size: 50px;
    line-height: 1.36;
  }
}

.download__links {
  @media #{$mobile-max} {
    padding-top: 30px;
    padding-bottom: 17px;
    background-color: $basic-dark;
  }

  @media #{$tablet-min} {
    width: 300px;
  }
}

.download__links-wrapper {
  min-height: 224px;

  @media #{$mobile-max} {
    @include c280;
  }
}

.download__button {
  align-self: stretch;
  border-color: $basic-white;
  color: $basic-white;

  &:hover,
  &:focus {
    background-color: $basic-white;
    color: $basic-pink;
  }

  &:active {
    background-color: $basic-white;
    color: transparentize($basic-pink, 0.7);
  }

  @media #{$desktop-min} {
    font-size: 21px;
    line-height: 0.86;
  }
}

.download__markets {
  @include c;
  width: 100%;
  padding-left: 37px;
  padding-right: 37px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-self: stretch;
  justify-content: space-between;
  margin-top: 30px;

  @media #{$tablet-min} {
    margin-top: 47px;
    margin-bottom: 25px;
    padding: 0 48px;
  }

  @media #{$desktop-min} {
    margin-top: 66px;
    margin-bottom: 38px;
  }
}

.download__link {
  &--microsoft {
    padding-top: 10px;

    @media #{$tablet-min} {
      padding-top: 0;
    }
  }

  &--apple {
    @media #{$desktop-min} {
      padding-bottom: 10px;
    }
  }
}

.download__description {
  color: $basic-white;
  font-weight: 300;

  @media #{$tablet-min} {
    margin-top: 0;
    font-size: 18px;
    line-height: 1.33;
  }
}
