.form {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  padding-top: 35px;
  font-size: 18px;
  line-height: 1.7;
  text-align: left;

  @media #{$tablet-min} {
    @include c620;
    padding-top: 70px;
  }

  @media #{$desktop-min} {
    @include c940;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 80px;
  }
}

.form__input-text,
.form__textarea {
  box-sizing: border-box;
  border: 2px solid $grey-90;
  border-radius: 1px;
  font-family: inherit;
  font-size: 18px;
  line-height: 1.7;

  @media #{$mobile-max} {
    @include c280;
  }

  &::placeholder {
    color: $basic-color;
  }

  &:hover {
    border-color: $basic-color;
  }

  &:active,
  &:focus {
    border-color: $basic-pink;
    outline: none;
  }
}

.form__legend {
  color: $basic-pink;
  font-size: 14px;
  line-height: 1.3;
  text-align: center;
  text-transform: uppercase;

  @media #{$tablet-min} {
    padding-right: 25px;
    padding-left: 25px;
  }
}


.form__fieldset {
  padding: 0;
  border: none;
  margin-top: 0;
  margin-bottom: 0;

  @media #{$mobile-max} {
    @include c280;
  }

  @media #{$tablet-min} {
    border: 2px solid $grey-90;
    border-radius: 1px;
  }

  &:nth-child(2),
  &:nth-child(4) {
    @media #{$mobile-max} {
      width: auto;
      margin-right: calc((100vw - 280px) / -2);
      margin-left: calc((100vw - 280px) / -2);
      background-color: $grey-95;

      .form__fieldset-wrapper {
        @include c280;
      }
    }
  }
}

.form__item {
  margin-bottom: 15px;

  @media #{$tablet-min} {
    margin-bottom: 48px;
  }
}

.form__label-text {
  margin-left: 23px;
  color: $basic-pink;
  font-size: 14px;
  text-transform: uppercase;

  @media #{$tablet-min} {
    margin-right: 15px;
    margin-left: 0;
  }
}

.form__input-text {
  padding: 15px 20px;
  margin-top: 5px;

  @media #{$tablet-min} {
    padding: 12px 20px 15px;
  }
}

.form__fieldset--name {
  margin-bottom: 25px;

  @media #{$tablet-min} {
    order: -4;
    border: none;
    margin-bottom: 27px;
  }

  @media #{$desktop-min} {
    flex-grow: 4;
    margin-right: 75px;
    margin-bottom: 10px;
  }
}

.form__item--name {
  @media #{$tablet-min} {
    display: flex;
    align-items: center;
    margin-bottom: 45px;
  }

  @media #{$desktop-min} {
    margin-bottom: 50px;
  }
}

.form__input-text--name {
  @media #{$tablet-min} {
    flex-grow: 1;
  }
}

.form__label-text--name {
  @media #{$tablet-min} {
    margin-top: 5px;
  }
}

.form__fieldset--app {
  margin-bottom: 35px;

  @media #{$tablet-min} {
    order: -3;
    margin-bottom: 60px;
  }

  @media #{$desktop-min} {
    flex-grow: 3;
    margin-bottom: 55px;
  }
}

.form__legend--app {
  @include c;
  width: 218px;
  padding-top: 37px;
  margin-bottom: 40px;
  background-color: inherit;

  @media #{$tablet-min} {
    width: max-content;
    margin-top: -50px;
    margin-bottom: 50px;
    background-color: $basic-white;
  }
}

.form__fieldset-wrapper--app {
  display: flex;
  flex-direction: column;

  @media #{$tablet-min} {
    padding-bottom: 10px;
  }
}

.form__label-radio {
  position: relative;
  margin-bottom: 45px;
  margin-left: 70px;

  @media #{$tablet-min} {
    margin-left: 115px;
  }

  @media #{$desktop-min} {
    margin-left: 130px;
  }
}

.form__label-radio::before {
  position: absolute;
  top: -7px;
  left: -60px;
  width: 37px;
  height: 37px;
  border: 2px solid $grey-90;
  background-color: $basic-white;
  border-radius: 50%;
  content: "";
}

input {
  &:checked + .form__label-radio::before {
    position: absolute;
    top: -7px;
    left: -60px;
    width: 37px;
    height: 37px;
    border: 2px solid $grey-90;
    background-color: $basic-pink;
    border-radius: 50%;
    box-shadow: inset 0 0 0 11px $basic-white;
    content: "";
  }

  &:hover + .form__label-radio::before,
  &:checked:hover + .form__label-radio::before,
  &:focus + .form__label-radio::before,
  &:checked:focus + .form__label-radio::before {
    border-color: $basic-color;
  }

  &:active + .form__label-radio::before,
  &:checked:active + .form__label-radio::before {
    border-color: $basic-pink;
  }
}

.form__fieldset--contacts {
  margin-bottom: 30px;

  @media #{$tablet-min} {
    order: -2;
    margin-bottom: 68px;
  }

  @media #{$desktop-min} {
    width: 100%;
    margin-bottom: 65px;
  }
}

.form__fieldset-wrapper--contacts {
  @media #{$tablet-min} {
    padding: 30px 57px 5px 57px;
  }

  @media #{$desktop-min} {
    display: flex;
  }

  @media #{$desktop-min} {
    justify-content: space-between;
    padding-bottom: 20px;
  }
}

.form__legend--contacts {
  @media #{$mobile-max} {
    display: none;
  }
}

.form__item--contacts {
  @media #{$tablet-min} {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
  }

  @media #{$desktop-min} {
    width: 370px;
    margin-bottom: 0;
  }
}

.form__input-text--contacts {
  background-position: right 18px center, right center;
  background-repeat: no-repeat, no-repeat;
  background-size: auto, 58px 63px;

  @media #{$tablet-min} {
    order: -1;
    margin-bottom: 15px;
  }

  @media #{$desktop-min} {
    padding-right: 60px;
    margin-bottom: 10px;
  }

  &[type="tel"] {
    background-image: url("../img/phone-icon.svg"),
      url("../img/icon-underlay.png");
  }

  &[type="email"] {
    background-image: url("../img/mail-icon.svg"),
      url("../img/icon-underlay.png");
  }
}

.form__label-text--contacts {
  @media #{$tablet-min} {
    margin-left: 20px;
  }
}

.form__fieldset--achievements {
  margin-bottom: 30px;

  @media #{$tablet-min} {
    order: -1;
    margin-bottom: 58px;
  }

  @media #{$desktop-min} {
    width: 100%;
  }
}

.form__fieldset-wrapper--achievements {
  display: flex;
  flex-direction: column;
  margin-top: 45px;

  @media #{$desktop-min} {
    box-sizing: border-box;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 52px;
    padding-bottom: 15px;
    padding-left: 55px;
    margin-top: -55px;
  }
}

.form__label-checkbox {
  position: relative;
  margin-bottom: 52px;
  margin-left: 57px;

  @media #{$tablet-min} {
    margin-left: 115px;
  }

  @media #{$desktop-min} {
    flex-basis: 26%;
    margin-bottom: 50px;
    margin-left: 60px;
  }

  &:last-child {
    @media #{$mobile-max} {
      margin-bottom: 45px;
    }
  }
}

.form__label-checkbox::before {
  position: absolute;
  top: -5px;
  left: -58px;
  width: 35px;
  height: 35px;
  border: 2px solid $grey-90;
  background-color: $basic-white;
  border-radius: 3px;
  content: "";
}

input {
  &:checked + .form__label-checkbox::before {
    position: absolute;
    top: -5px;
    left: -58px;
    width: 35px;
    height: 35px;
    border: 2px solid $grey-90;
    background-color: $basic-white;
    background-image: url("../img/icon-yes-pink.svg");
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 3px;
    content: "";
  }

  &:hover + .form__label-checkbox::before,
  &:checked:hover + .form__label-checkbox::before,
  &:focus + .form__label-checkbox::before,
  &:checked:focus + .form__label-checkbox::before {
    border-color: $basic-color;
  }

  &:active + .form__label-checkbox::before,
  &:checked:active + .form__label-checkbox::before {
    border-color: $basic-pink;
  }
}

.form__legend--achievement {
  @include c;
  width: 218px;
  padding-top: 40px;
  background-color: inherit;

  @media #{$tablet-min} {
    width: max-content;
    margin-top: -50px;
    margin-bottom: 50px;
    background-color: $basic-white;
  }
}

.form__fieldset--textarea {
  margin-bottom: 40px;

  @media #{$tablet-min} {
    padding-bottom: 55px;
    margin-bottom: 65px;
  }

  @media #{$desktop-min} {
    width: 100%;
    padding-bottom: 40px;
  }
}

.form__fieldset-wrapper--textarea {
  @media #{$tablet-min} {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media #{$desktop-min} {
    flex-grow: 1;
  }
}

.form__legend--textarea {
  margin-bottom: 15px;

  @media #{$tablet-min} {
    margin-bottom: 35px;
  }

  @media #{$desktop-min} {
    margin-bottom: 30px;
  }
}

.form__textarea {
  min-height: 200px;
  padding-top: 15px;
  padding-left: 20px;

  @media #{$tablet-min} {
    width: 500px;
    min-height: 190px;
  }

  @media #{$desktop-min} {
    width: 815px;
    min-height: 130px;
  }
}

.form__send {
  @media #{$mobile-max} {
    @include c280;
  }

  @media #{$tablet-min} {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  @media #{$desktop-min} {
    width: 100%;
  }

  .form__button {
    @include c280;
    border: none;
    background-color: $basic-green;
    line-height: 1;

    @media #{$tablet-min} {
      width: 300px;
      margin: 0;
    }

    &:hover {
      background-color: $basic-green-hover;
    }

    &:active {
      background-color: $basic-green-hover;
      color: transparentize($basic-white, 0.7);
    }

    &:disabled {
      background-color: $grey-95;
    }
  }
}

.form__reference {
  margin-top: 35px;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;

  @media #{$tablet-min} {
    margin: 0;
  }

  sup {
    color: $basic-pink;
  }

  span {
    @media #{$tablet-max} {
      display: none;
    }
  }
}
