.form {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  font-size: 18px;
  line-height: 1.7;
  text-align: left;

  @media #{$desktop-min} {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}


.form__fieldset {
  padding-bottom: 42px;
  border: none;
  margin-top: 0;
  margin-bottom: 0;

  @media #{$mobile-max} {
    @include c280;
  }

  @media #{$tablet-min} {
    border: 2px solid $grey-90;
    border-radius: 1px;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
  }

  &:nth-child(2),
  &:nth-child(4) {
    @media #{$mobile-max} {
      width: auto;
      margin-right: calc((100vw - 280px) / -2);
      margin-left: calc((100vw - 280px) / -2);
      background-color: $grey-95;

      .form__fieldset-wrapper {
        @include c280;
      }
    }
  }
}

.form__fieldset--name {
  padding-top: 37px;

  @media #{$tablet-min} {
    order: -4;
    border: none;
    padding-top: 0;
    padding-bottom: 59px;
  }

  @media #{$desktop-min} {
    flex-grow: 4;
    margin-right: 75px;
    margin-bottom: 10px;
  }
}

.form__fieldset--app {
  padding-top: 40px;
  padding-bottom: 38px;

  @media #{$tablet-min} {
    order: -3;
    margin-bottom: 58px;
    padding-bottom: 50px;
  }

  @media #{$desktop-min} {
    flex-grow: 3;
    margin-bottom: 55px;
  }
}

.form__fieldset--contacts {
  padding-top: 32px;

  @media #{$tablet-min} {
    order: -2;
    margin-bottom: 58px;
    padding-top: 36px;
    padding-bottom: 28px;
  }

  @media #{$desktop-min} {
    width: 100%;
    margin-bottom: 65px;
  }
}

.form__fieldset--achievements {
  padding-top: 40px;

  @media #{$tablet-min} {
    order: -1;
    margin-bottom: 66px;
    padding-top: 44px;
    padding-bottom: 47px;
  }

  @media #{$desktop-min} {
    width: 100%;
  }
}

.form__fieldset--textarea {
  padding-top: 40px;

  @media #{$tablet-min} {
    padding-top: 0;
    padding-bottom: 44px;
    margin-bottom: 65px;
  }

  @media #{$desktop-min} {
    width: 100%;
    padding-bottom: 40px;
  }
}


.form__fieldset-wrapper--app {
  display: flex;
  flex-direction: column;

  @media #{$tablet-min} {
    padding-left: 58px;
  }
}

.form__fieldset-wrapper--contacts {
  @media #{$tablet-min} {
    padding: 0 57px;
  }

  @media #{$desktop-min} {
    display: flex;
  }

  @media #{$desktop-min} {
    justify-content: space-between;
    padding-bottom: 20px;
  }
}

.form__fieldset-wrapper--achievements {
  display: flex;
  flex-direction: column;

  @media #{$tablet-min} {
    padding-left: 58px;
  }

  @media #{$desktop-min} {
    box-sizing: border-box;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 52px;
    padding-bottom: 15px;
  }
}

.form__legend {
  float: left;
  margin-top: 0;
  width: 100%;
  color: $basic-pink;
  font-size: 14px;
  line-height: 1.29;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;

  @media #{$tablet-min} {
    float: none;
    padding-right: 25px;
    padding-left: 25px;
    width: auto;
  }
}

.form__legend--contacts {
  @media #{$mobile-max} {
    display: none;
  }
}

.form__legend--achievements {
  margin-bottom: 36px;

  @media #{$tablet-min} {
    margin-bottom: 0;
  }
}

.form__legend--app {
  margin-bottom: 29px;

  @media #{$tablet-min} {
    margin-bottom: 0;
  }
}

.form__legend--textarea {
  margin-bottom: 15px;

  @media #{$tablet-min} {
    transform: translateY(-10px);
    display: block;
    margin-bottom: 27px;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    background-color: $basic-white;
  }

  @media #{$desktop-min} {
    margin-bottom: 30px;
  }
}

.form__legend-text {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 218px;

  @media #{$tablet-min} {
    width: auto;
  }
}


.form__fieldset-item--name {
  margin-bottom: 17px;

  @media #{$tablet-min} {
    display: flex;
    align-items: center;
    margin-bottom: 52px;
  }

  @media #{$desktop-min} {
    margin-bottom: 50px;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.form__fieldset-item--achievements {
  margin-bottom: 42px;

  &:last-child {
    margin-bottom: 0;
  }
}

.form__fieldset-item--contacts {
  margin-bottom: 17px;

  @media #{$tablet-min} {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
  }

  @media #{$desktop-min} {
    width: 370px;
    margin-bottom: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &::after{
    @media #{$tablet-min} {
      content: "";
      position: absolute;
      right: 0;
      top: 0;
      border-radius: 0 1px 1px 0;
      width: 62px;
      height: 62px;
      background-color: $grey-90;
      background-repeat: no-repeat, no-repeat;
      background-position: center;
      background-size: auto;
    }
  }
}

.form__fieldset-item--phone::after {
  background-image: url("../img/phone-icon.svg"),
}

.form__fieldset-item--email::after {
  background-image: url("../img/mail-icon.svg"),
}

.form__fieldset-item--app {
  margin-bottom: 29px;

  &:last-child {
    margin-bottom: 0;
  }
}


.form__label-text {
  margin-bottom: 6px;
  margin-left: 23px;
  display: block;
  color: $basic-pink;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 2.14;

  @media #{$tablet-min} {
    margin-bottom: 0;
  }
}

.form__label-text--name {
  @media #{$tablet-min} {
    margin-left: 0;
    margin-right: 18px;
  }
}

.form__label-text--contacts {
  @media #{$tablet-min} {
    margin-left: 20px;
  }
}

.form__label-radio {
  position: relative;
  display: block;
  padding-left: 70px;
  padding-top: 8px;
  padding-bottom: 8px;
  line-height: 1.67;

  @media #{$tablet-min} {
    padding-left: 61px;
  }

  @media #{$desktop-min} {
    padding-left: 130px;
  }
}

.form__label-radio::before {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 41px;
  height: 41px;
  border: 2px solid $grey-90;
  background-color: $basic-white;
  border-radius: 50%;
  content: "";
}

input {
  &:checked + .form__label-radio::before {
    width: 41px;
    height: 41px;
    border: 2px solid $grey-90;
    background-color: $basic-pink;
    border-radius: 50%;
    box-shadow: inset 0 0 0 11px $basic-white;
    content: "";
  }

  &:hover + .form__label-radio::before,
  &:checked:hover + .form__label-radio::before,
  &:focus + .form__label-radio::before,
  &:checked:focus + .form__label-radio::before {
    border-color: $basic-color;
  }

  &:active + .form__label-radio::before,
  &:checked:active + .form__label-radio::before {
    border-color: $basic-pink;
  }
}

.form__label-checkbox {
  position: relative;
  display: block;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 57px;
  line-height: 1.67;
}

.form__label-checkbox::before {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 39px;
  height: 39px;
  border: 2px solid $grey-90;
  background-color: $basic-white;
  border-radius: 3px;
  content: "";
}

input {
  &:checked + .form__label-checkbox::before {
    background-image: url("../img/icon-yes-pink.svg");
    background-position: center;
    background-repeat: no-repeat;
  }

  &:hover + .form__label-checkbox::before,
  &:checked:hover + .form__label-checkbox::before,
  &:focus + .form__label-checkbox::before,
  &:checked:focus + .form__label-checkbox::before {
    border-color: $basic-color;
  }

  &:active + .form__label-checkbox::before,
  &:checked:active + .form__label-checkbox::before {
    border-color: $basic-pink;
  }
}


.form__input-text,
.form__textarea {
  box-sizing: border-box;
  border: 2px solid $grey-90;
  border-radius: 1px;
  font-family: inherit;
  font-size: 18px;
  line-height: 1.67;

  @media #{$mobile-max} {
    @include c280;
  }

  &::placeholder {
    color: $basic-color;
  }

  &:hover {
    border-color: $basic-color;
  }

  &:active,
  &:focus {
    border-color: $basic-pink;
    outline: none;
  }
}

.form__input-text {
  padding: 14px 20px 15px;

  @media #{$tablet-min} {
    padding: 13px 20px 16px;
  }
}

.form__input-text--name {
  @media #{$tablet-min} {
    flex-grow: 1;
  }
}

.form__input-text--contacts {
  @media #{$tablet-min} {
    order: -1;
    margin-bottom: 10px;
    padding-right: 60px;
  }

  @media #{$desktop-min} {
    padding-right: 60px;
    margin-bottom: 10px;
  }
}


.form__textarea {
  resize: none;
  min-height: 200px;
  padding: 12px 20px;

  @media #{$tablet-min} {
    position: relative;
    transform: translateX(-50%);
    left: 50%;
    width: 500px;
    min-height: 193px;
  }

  @media #{$desktop-min} {
    width: 815px;
    min-height: 193px;
  }
}


.form__send {
  @media #{$mobile-max} {
    @include c280;
  }

  @media #{$tablet-min} {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  @media #{$desktop-min} {
    width: 100%;
  }

  .form__button {
    @include c280;
    border: none;
    background-color: $basic-green;
    line-height: 1;

    @media #{$tablet-min} {
      width: 300px;
      margin: 0;
    }

    &:hover {
      background-color: $basic-green-hover;
    }

    &:active {
      background-color: $basic-green-hover;
      color: transparentize($basic-white, 0.7);
    }

    &:disabled {
      background-color: $grey-95;
    }
  }
}

.form__button {
  margin-bottom: 35px;
  line-height: 1.67;
}

.form__reference {
  margin: 0;
  font-size: 14px;
  line-height: 2.14;
  text-align: center;
  text-transform: uppercase;

  @media #{$tablet-min} {
    margin: 0;
  }
}

.form__reference-desktop {
  @media #{$tablet-max} {
    display: none;
  }
}

.form__reference-pink {
  color: $basic-pink;
}
