.logo {
  display: flex;
  align-items: flex-end;

  @media #{$desktop-min} {
    position: relative;
  }
}

.logo--header {
  .logo__pink {
    fill: $basic-white;

    @media #{$desktop-min} {
      left: 70px;
    }
  }

  .logo__glasses {
    display: none;

    @media #{$tablet-min} and #{$tablet-max} {
      display: block;
      fill: $basic-white;
    }
  }

  .logo__starred-glasses {
    display: none;

    @media #{$desktop-min} {
      display: block;
      fill: $basic-white;
    }
  }

  .logo__stars {
    display: none;

    @media #{$desktop-min} {
      display: block;
      fill: $basic-pink;
    }
  }

  .logo__diacritic {
    display: none;

    @media #{$desktop-min} {
      display: block;
      fill: $basic-pink;
    }
  }
}

.logo--footer {
  width: 145px;
  height: 40px;

  .logo__pink {
    top: 20px;

    @media #{$tablet-min} {
      top: 10px;
      left: 70px;
    }

    @media #{$desktop-min} {
      top: 10px;
      left: 72px;
    }

    use {
      fill: $basic-color;
    }
  }

  .logo__glasses {
    top: 5px;
    display: block;

    @media #{$tablet-min} {
      top: -10px;
    }

    @media #{$desktop-min} {
      display: none;
    }

    use {
      fill: $basic-pink;
    }
  }

  .logo__starred-glasses {
    display: none;

    @media #{$desktop-min} {
      top: -5px;
      display: block;
    }

    use {
      fill: $basic-pink;
    }
  }

  .logo__stars {
    display: none;

    @media #{$desktop-min} {
      top: -5px;
      display: block;
    }

    use {
      fill: $basic-color;
    }
  }

  .logo__diacritic {
    display: none;

    @media #{$desktop-min} {
      left: 90px;
      display: block;
    }

    use {
      fill: $basic-pink;
    }
  }
}

.logo__pink {
  display: block;
  width: 74px;
  height: 23px;
}

.logo__glasses {
  width: 74px;
  height: 40px;
}

.logo__starred-glasses {
  order: -1;
  width: 74px;
  height: 40px;
}

.logo__stars {
  position: absolute;
  width: 100px;
  height: 40px;
}

.logo__diacritic {
  position: absolute;
  top: 5px;
  left: 91px;
  width: 10px;
  height: 10px;
}
