.main-nav__layer {
  background-color: transparentize($basic-black, 0.7);
  position: relative;
}

.main-nav--opened .main-nav__layer {
  background-color: transparent;
}

.main-nav__wrapper {
  @media #{$desktop-min} {
    @include c940;
    display: flex;
    justify-content: space-between;
  }
}

.main-nav__toggle {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 70px;
  height: 50px;
  border: none;
  background-color: transparent;
  cursor: pointer;

  @media #{$tablet-min} {
    top: 20px;
  }

  @media #{$desktop-min} {
    display: none;
  }
}

.main-nav--nojs .main-nav__toggle {
  display: none;
}

.main-nav--closed .main-nav__toggle {
  &::before {
    position: absolute;
    top: 20px;
    left: -1px;
    width: 50px;
    height: 4px;
    background-color: $basic-white;
    border-radius: 1px;
    box-shadow: 0 10px 0 0 $basic-white, 0 20px 0 0 $basic-white;
    content: "";
  }

  &:hover::before {
    background-color: $basic-pink;
    box-shadow: 0 8px 0 0 $basic-pink, 0 16px 0 0 $basic-pink;
  }

  &:active::before {
    background-color: $basic-pink;
    box-shadow: 0 8px 0 0 $basic-pink, 0 16px 0 0 $basic-pink;
    opacity: 0.3;
  }
}

.main-nav--opened .main-nav__toggle {
  top: 10px;

  @media #{$tablet-min} {
    top: 30px;
  }

  &::before,
  &::after {
    position: absolute;
    top: 23px;
    left: 22px;
    width: 30px;
    height: 2px;
    background-color: $basic-white;
    content: "";
  }

  &::before {
    box-shadow: none;
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:hover::before,
  &:hover::after {
    background-color: $basic-pink;
  }

  &:active::before,
  &:active::after {
    background-color: transparentize($basic-pink, 0.7);
  }
}



.main-nav__list {
  padding: 0;
  border-top: 1px solid black;
  margin: 0;
  list-style: none;

  @media #{$desktop-min} {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    border-top: none;
  }
}

.main-nav--closed .main-nav__list {
  @media #{$tablet-max} {
    display: none;
  }
}

.main-nav__link {
  position: relative;
  display: block;
  padding-top: 19px;
  padding-bottom: 25px;
  border-top: 1px solid transparentize($basic-white, 0.7);
  border-bottom: 1px solid $basic-black;
  background-color: $basic-color;
  color: $basic-white;
  font-size: 18px;
  font-weight: bold;
  line-height: 1;
  text-decoration: none;
  text-transform: uppercase;

  &:hover,
  &:focus,
  &:active {
    color: $basic-pink;
  }

  &:active {
    opacity: 0.3;
  }

  @media #{$desktop-min} {
    border: none;
    background-color: transparent;
    font-weight: normal;
    text-transform: none;

    &:active {
      color: transparentize($basic-black, 0.7);
    }

    &--active {
      position: relative;

      &::after {
        position: absolute;
        right: 0;
        bottom: 10px;
        left: 0;
        height: 2px;
        background: $basic-white;
        content: "";
      }
    }
  }
}

.main-nav__item {
  @media #{$desktop-min} {
    margin-left: 79px;
  }
}
