.main-photo__page-headline {
  padding-top: 94px;
  padding-bottom: 77px;

  @media #{$tablet-min} {
    padding-top: 177px;
    padding-bottom: 127px;
  }

  @media #{$desktop-min} {
    padding-top: 169px;
    padding-bottom: 89px;
  }
}

.main-photo__pictures {
  padding-top: 44px;
  padding-bottom: 27px;

  @media #{$tablet-min} {
    padding-top: 90px;
    padding-bottom: 48px;
  }

  @media #{$desktop-min} {
    padding-bottom: 43px;
  }
}

.main-photo__try {
  @media #{$desktop-min} {
    padding-bottom: 30px;
  }
}
