.main-photo__page-headline {
  padding-top: 94px;
  padding-bottom: 77px;
}

.main-photo__pictures {
  padding-top: 44px;
  padding-bottom: 27px;

  @media #{$tablet-min} {
    padding-top: 75px;
    padding-bottom: 65px;
  }

  @media #{$desktop-min} {
    padding-bottom: 60px;
  }
}

.main-photo__try {
  @media #{$desktop-min} {
    padding-bottom: 30px;
  }
}
