.main-form__page-headline {

  padding-top: 94px;
  padding-bottom: 44px;

  @media #{$tablet-min} {
    padding-top: 177px;
    padding-bottom: 59px;
  }

  @media #{$desktop-min} {
    padding-top: 170px;
    padding-bottom: 88px;
  }
}

.main-form__competition {
  padding-top: 45px;

  @media #{$tablet-min} {
    padding-top: 90px;
  }
}
