.map {
  position: relative;
  width: 100%;
  height: 200px;

  @media #{$tablet-min} {
    height: 375px;
  }

  @media #{$desktop-min} {
    height: 500px;
  }

  &--nojs {
    width: max-content;
    margin-left: auto;
    margin-right: auto;
  }
}

.map__picture {
  display: block;
  margin-left: auto;
  margin-right: auto;

  @media #{$tablet-min} {
    width: 660px;
    height: 374px;
  }

  @media #{$desktop-min} {
    width: 1200px;
    height: 502px;
  }
}

.map__pin {
  position: absolute;
  top: 46%;
  left: 44%;
  width: 36px;
  height: 36px;
  background-image: url("../img/icon-map-marker.svg");
  background-position: 50% 0, center;
  background-repeat: no-repeat, no-repeat;
  background-size: 100% auto;

  @media #{$tablet-min} {
    top: 52%;
    left: 47%;
  }
}
