.modal {
  @include c;
  position: fixed;
  top: 50%;
  left: 50%;
  display: none;
  width: 320px;
  background-color: $basic-white;
  border-radius: 3px;
  box-shadow: 0 7px 15px transparentize($basic-black, 0.85);
  transform: translate(-50%, -50%);
  transition: 0.5s;

  @media #{$tablet-min} {
    @include c;
    width: 460px;
  }

  @media #{$desktop-min} {
    @include c;
    width: 780px;
  }
}

.modal__headline {
  margin: 0 0 20px 0;
  color: $basic-black;
  font-size: 18px;

  @media #{$tablet-min} {
    margin-bottom: 27px;
    font-size: 30px;
    line-height: 1.3;
  }
}

.modal__text {
  margin: 0 0 35px 0;

  @media #{$tablet-min} {
    font-size: 18px;
    line-height: 1.3;
  }
}

.modal__wrapper {
  padding-top: 35px;

  @media #{$tablet-min} {
    padding-top: 45px;
    padding-right: 60px;
    padding-left: 60px;
  }

  @media #{$desktop-min} {
    padding-right: 192px;
    padding-left: 192px;
  }
}

.modal__wrapper--success {
  padding-right: 27px;
  padding-left: 27px;
}


.modal__wrapper--failure {
  padding-top: 40px;
  padding-right: 20px;
  padding-left: 20px;

  @media #{$tablet-min} {
    padding-right: 75px;
    padding-left: 75px;
  }

  @media #{$desktop-min} {
    padding-bottom: 25px;
    padding-right: 215px;
    padding-left: 215px;
  }
}

.modal__button-wrapper {
  padding: 50px 20px;
}

.modal__button-wrapper--success {
  background-color: $grey-95;
}

.modal__button-wrapper--failure {
  padding-top: 10px;

  @media #{$tablet-min} {
    padding-top: 0;
  }

  @media #{$desktop-min} {
    padding-top: 50px;
    background-color: $grey-95;
  }
}

.modal__button {
  @include c;
  background-color: $basic-green;

  @media #{$tablet-min} {
    width: 300px;
  }
}

.modal__button--success {
  @media #{$desktop-min} {
    width: 456px;
  }
}
