.page-footer {
  @media #{$tablet-min} {
    display: flex;
    justify-content: space-between;
  }
}

.page-footer__social {
  margin-bottom: 38px;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;

  @media #{$tablet-min} {
    margin: 0;
  }
}

.page-footer__copyright {
  @media #{$mobile-max} {
    @include c280;
  }
}

.page-footer__logo {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 38px;
  width: fit-content;
}
