.page-footer {
  @media #{$tablet-min} {
    display: grid;
    grid-template: 1fr / 1fr 1fr 1fr;
    align-items: center;
  }
}

.page-footer__social {
  margin-bottom: 38px;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;

  @media #{$tablet-min} {
    margin: 0;
    justify-self: center;
  }
}

.page-footer__copyright {
  @media #{$mobile-max} {
    @include c280;
  }

  @media #{$tablet-min} {
    justify-self: end;
    margin: 0;
  }
}

.page-footer__logo {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 38px;
  width: fit-content;

  @media #{$tablet-min} {
    margin: 0;
    align-self: start;
  }
}
