.pictures {
  background-color: $basic-white;
}

.pictures__intro {
  @include c;
  width: 250px;
  margin-top: 0;
  margin-bottom: 53px;
  line-height: 2.14;

  @media #{$tablet-min} {
    width: 550px;
    margin-bottom: 78px;
    font-size: 18px;
    line-height: 1.67;
  }

  @media #{$desktop-min} {
    width: 640px;
    margin-bottom: 90px;
  }
}

.pictures__wrapper {
  @include c280;
  display: grid;
  margin-top: 20px;
  padding: 0;
  gap: 20px;
  grid-template-columns: 1fr;
  list-style: none;

  @media #{$tablet-min} {
    @include c620;
    margin-top: 51px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: minmax(455px, 1fr);
    gap: 18px;
  }

  @media #{$desktop-min} {
    @include c940;
    grid-row-gap: 53px;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.pictures__photo-wrapper {
  display: block;

  &--day-choice {
    position: relative;

    @media #{$tablet-min} {
      @include c;
      width: fit-content;
    }
  }

  &--day-choice::before {
    position: absolute;
    z-index: 1;
    width: 140px;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: $basic-pink;
    color: $basic-white;
    content: "Панорама дня";
    font-size: 12px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;

    @media #{$tablet-min} {
      top: 57px;
      right: 20px;
    }

    @media #{$desktop-min} {
      top: 54px;
      right: 130px;
    }
  }
}

.pictures__photo {
  display: block;
  width: 280px;
  height: 180px;

  @media #{$tablet-min} {
    width: 300px;
    height: 300px;
  }

  @media #{$desktop-min} {
    width: 300px;
    height: 400px;
  }

  &--day-choice {
    @include c;
    width: 320px;
    height: 137px;

    @media #{$tablet-min} {
      width: 660px;
      height: 509px;
    }

    @media #{$desktop-min} {
      width: 1200px;
      height: 506px;
    }
  }
}

.pictures__text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 12px;

  @media #{$tablet-min} {
    margin-top: 5px;
    margin-bottom: 15px;
  }

  .pictures__item--day-choice & {
    @media #{$tablet-min} {
      margin-bottom: 12px;
    }
  }
}

.pictures__text {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: space-between;
  padding: 18px 5px 20px 17px;
  background-color: $grey-95;

  @media #{$tablet-min} {
    min-height: 155px;
    padding: 18px 30px 26px 31px;
  }

  @media #{$desktop-min} {
    padding-left: 27px;
    padding-bottom: 23px;
  }

  .pictures__item--day-choice & {
    @include c280;

    @media #{$tablet-min} {
      @include c620;
      min-height: min-content;
      flex-direction: row;
      flex-wrap: wrap;
      padding: 22px 30px 15px 31px;
    }

    @media #{$desktop-min} {
      @include c940;
      padding-left: 27px;
    }
  }
}

.pictures__username {
  margin: 0;
  font-weight: bold;
  text-align: left;
}

.pictures__time {
  font-size: 12px;
  line-height: 2;
  font-weight: 300;
  text-align: left;
  text-transform: uppercase;
}

.pictures__comment {
  margin: 0;
  line-height: 1.6;
  font-weight: 300;
  letter-spacing: 0.3px;
  text-align: left;

  br {
    @media #{$tablet-min} {
      display: none;
    }
  }

  &--day-choice {
    margin-bottom: 10px;
    line-height: 1.75;

    @media #{$tablet-min} {
      order: 1;
    }
  }
}

.pictures__likes {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: $basic-pink;
  font-size: 12px;
  text-align: left;
  text-transform: uppercase;
  line-height: 2;

  @media #{$tablet-min} {
    justify-content: space-between;
  }

  .pictures__item--day-choice & {
    @media #{$tablet-min} {
      align-self: flex-end;
    }
  }
}

.pictures__likes-icon {
  margin-right: 18px;
  fill: currentColor;

  @media #{$tablet-min} {
    align-self: center;
    order: 1;
    margin-right: 0;
    margin-left: 17px;
  }
}
