.reviews {
  @media #{$desktop-min} {
    position: relative;
  }
}

.reviews::before {
  @media #{$desktop-min} {
    position: absolute;
    top: 70px;
    width: 79px;
    height: 65px;
    background: url("../img/icon-quotes.svg");
    content: "";
    opacity: 0.04;
    transform: translate(-50%, 0);
  }
}

.reviews__item {
  display: flex;
  flex-direction: column;
  margin: 0 0 30px 0;

  @media #{$tablet-min} {
    margin-bottom: 40px;
  }

  @media #{$desktop-min} {
    @include c;
    width: 690px;
    margin-bottom: 0;
  }
}

.reviews__author-age {
  display: none;

  @media #{$tablet-min} {
    display: block;
    font-size: 14px;
  }

  @media #{$desktop-min} {
    font-size: 18px;
    line-height: 1.67;
  }
}

.reviews__author-name {
  margin-bottom: 13px;
  color: $basic-black;
  font-size: 18px;
  line-height: 1.67;
  font-style: normal;
  font-weight: bold;

  @media #{$mobile-max} {
    order: -1;
  }

  @media #{$tablet-min} {
    margin-bottom: 0;
    font-size: 20px;
  }

  @media #{$desktop-min} {
    font-size: 24px;
    line-height: 1.25;
  }
}

.reviews__text {
  margin: 0;
  font-size: 14px;
  line-height: 2.15;

  @media #{$tablet-min} {
    margin-top: 20px;
    margin-bottom: 33px;
    font-size: 18px;
    line-height: 1.67;
  }
}

.reviews__toggles {
  @media #{$desktop-min} {
    display: none;
  }
}

.reviews__toggle {
  width: 6px;
  height: 6px;
  box-sizing: content-box;
  padding: 0;
  border: none;
  background-color: transparentize($basic-color, 0.7);
  border-radius: 50%;

  &--current {
    border: 3px $basic-black solid;
    background-color: transparent;
  }
}

.reviews__options {
  position: absolute;
  top: 56%;

  @media #{$tablet-max} {
    display: none;
  }
}
