.social {
  display: grid;
  grid-template: 1fr / repeat(3, 1fr);
  grid-gap: 10px;

  @media #{$desktop-min} {
    grid-gap: 8px;
  }
}

.social__link {
  display: flex;
  width: 53px;
  height: 53px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 3px solid transparentize($basic-color, 0.9);
  border-radius: 50%;
  text-decoration: none;

  &:hover,
  &:focus {
    border-color: $basic-color;
  }

  &:active {
    border-color: transparentize($basic-color, 0.9);

    svg {
      opacity: 0.3;
    }
  }
}

.social__icon {
  fill: $basic-pink;
}
