@mixin c {
  margin-right: auto;
  margin-left: auto;
}

@mixin c280 {
  width: 280px;
  margin-right: auto;
  margin-left: auto;
}

@mixin c620 {
  width: 620px;
  margin-right: auto;
  margin-left: auto;
}

@mixin c940 {
  width: 940px;
  margin-right: auto;
  margin-left: auto;
}
