$mobile-width: 320px;
$tablet-width: 660px;
$desktop-width: 1200px;

$mobile-max: (
  max-width: $tablet-width - 1px,
);
$tablet-min: (
  min-width: $tablet-width,
);
$tablet-max: (
  max-width: $desktop-width - 1px,
);
$desktop-min: (
  min-width: $desktop-width,
);

$basic-color: hsl(211, 27%, 21%);
$basic-dark: hsl(213, 26%, 15%);
$basic-white: hsl(0, 100%, 100%);
$basic-black: hsl(0, 100%, 0%);
$basic-pink: hsl(344, 68%, 49%);
$basic-green: hsl(151, 61%, 42%);
$basic-green-hover: hsl(154, 83%, 41%);
$grey-95: hsl(0, 0%, 95%);
$grey-90: hsl(0, 0%, 90%);
